<!-- Seccion Footer  -->
<footer class="seccion-contenido seccion-oscura">
  <div class="contenedor">
    <img src="assets/images/pexels-alexander-grey-1428148.jpg" alt="rayas de colores" width="100%" height="80px">
    <h4 class="seccion-titulo">Aprender y crear es mi vocación<br>¡Es tiempo para un nuevo proyecto!</h4>
    <p class="seccion-texto">marcoantoniocasanova47@gmail.com
    <p>
      <br>
      <a href="#volver"><button class="btn btn-outline-primary m-2" type="button">Volver arriba</button></a>
  </div>
</footer>