<!-- Seccion Educación -->
<section class="seccion-contenido seccion-oscura">
  <div class="contenedor">
    <img src="images/Estudios.png" alt="Birrete y libros" width="140">
    <h4 class="seccion-titulo" id="educ">Educación</h4>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>1988</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.ucab.edu.ve/" target="_blank" rel="noopener noreferrer"><img
            src="images/UCAB.png" alt="logo UCAB" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Licenciatura en Comunicación Social // Universidad Católica Andrés Bello.</a>
        </p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2005</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.instagram.com/upel_caracas/?hl=es" target="_blank"
          rel="noopener noreferrer"><img src="images/UPEL.png" alt="logo UPEL" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Componente Docente // Universidad Pedagógica Experimental Libertador.</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2010</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.ujmv.edu/" target="_blank" rel="noopener noreferrer"><img
            src="/images/UJMV.png" alt="logo UJMV" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Programa de Formación de Educadores a Distancia // Universidad José María
            Vargas.</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2011</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank"
          rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Programación con HTML y Javascript // Servicio Nacional de Aprendizaje (SENA).
          </a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2011</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank"
          rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Planeación Estratégica de Proyectos // Servicio Nacional de Aprendizaje
            (SENA).</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2011</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank"
          rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Diseño de Instrumentos de Evaluación // Servicio Nacional de Aprendizaje (SENA).
          </a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2012-2013</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank"
          rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Inglés (Curso completo) Niveles I al V // Servicio Nacional de Aprendizaje
            (SENA). </a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2015</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://learndigital.withgoogle.com/activate/courses" target="_blank"
          rel="noopener noreferrer"><img src="images/GOOGLE-ACT.png" alt="logo Google Activate" class="loginst"></a>
      </div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Introducción al Desarrollo Web // Google Activate.</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2015</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.msjc.edu/" target="_blank" rel="noopener noreferrer"><img
            src="images/MSJC.png" alt="logo MSJC" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Fundamental English Writing // Mt. San Jacinto College.</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2017</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://iei.ua.es/" target="_blank" rel="noopener noreferrer"><img
            src="images/IEI-ALICANTE.jpg" alt="logo IEI-ALICANTE" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">Curso de Desarrollo Web // Instituto de Economía Internacional de la Universidad
            de Alicante.</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2022</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://yoprogramo.org.ar/modulos-fase-1/" target="_blank"
          rel="noopener noreferrer"><img src="images/SeProg.png" alt="logo SéProgramar" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">#SéProgramar // Argentina Programa , INTI.</a></p>
      </div>
    </div>
    <div class="d-flex flex-row abs-center bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <h5>2022-Cursando</h5>
      </div>
      <div class="p-2 bd-highlight"><a href="https://www.yoprogramo.org.ar/" target="_blank"
          rel="noopener noreferrer"><img src="images/YoProg.png" alt="logo YoProgramo" class="loginst"></a></div>
      <div class="p-2 bd-highlight">
        <p><a href="javascript:void(0)">#YoProgramo // Argentina Programa , INTI.</a></p>
      </div>
    </div>
    <a href="#volver"><button class="btn btn-outline-primary" type="button">Volver arriba</button></a>
  </div>
</section>