<!-- pegar aqui el htrml que esta dentro de l body-->
<header id="volver">
  <nav id="volver" class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid" role="navigation">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <ul class="navbar-nav d-flex justify-content-center align-content-center me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="px-2" target="_blank"
              rel="noopener noreferrer">
              <img src="assets/images/argentina_programa.png" alt="Logo de Argentina Programa" width="130" height="40">
            </a>
          </li>
          <li class="navbar-item">
            <a href="https://yoprogramo.org.ar" class="px-2" target="_blank" rel="noopener noreferrer">
              <img src="assets/images/YoProgramo.png" alt="Logo de Yo Programo" width="130" height="40">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#MACG">¡Hola!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#acercademi">Acerca de mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#exper">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#educ">Educación</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Habilidades Duras y Blandas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#habd">Habilidades Duras</a></li>
              <li><a class="dropdown-item" href="#habb">Habilidades Blandas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#proy">Proyectos</a>
          </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          <ul class="navbar-nav d-flex me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="https:/wa.me/584241719860" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/whatsapp.svg" alt="Logo Whatsapp" width="30px" class="navbar-collapse">
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.facebook.com/MarcoAntonioCasanovaG" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/facebook.svg" alt="Logo Facebook" width="30px" class="navbar-collapse">
              </a>
            </li>
            <li class="nav-item">
              <a href="https://linkedin.com/in/marco-antonio-casanova-67b39934" target="_blank"
                rel="noopener noreferrer">
                <img src="assets/icons/linkedin.svg" alt="Logo Lindedin" width="30px" class="navbar-collapse">
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com/marcoantoniocasanovamac/" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/instagram.svg" alt="Logo Instagram" width="30px" class="navbar-collapse">
              </a>
            </li>
            <button class="btn btn-outline-primary navbar-collapse" type="submit">Login</button>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
