<router-outlet></router-outlet>
<!-- Seccion Proyectos-->
<section class="seccion-contenido seccion-clara">
  <div class="contenedor display-3 ms-auto">
    <h4 class="seccion-titulo" id="proy">Proyectos</h4>
    <div class="justify-content-center align-content-center ms-auto me-auto">
    <img src="images/proy-carr-1.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
    <img src="images/proy-carr-2.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
    <img src="images/proy-carr-3.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
    <img src="images/proy-carr-4.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
  </div>
    <p class="seccion-texto">Estoy recién comenzando en este mundo de la programación. Por lo tanto, sólo tengo
      para mostrar el trabajo que hice para este curso. Sin embargo, estoy seguro que pronto tendré muchos más
      proyectos que desarrollar y exhibir.
    </p>
    <a href="#"><p class="seccion-texto">Mi Proyecto en Github</p></a>
    <a href="#volver"><button class="btn btn-outline-primary m-2"  type="button">Volver arriba</button></a>
  </div>
</section>
