<section class="seccion-contenido seccion-clara">
  <div class="contenedor">
    <img src="images/habduras.png" alt="llave inglesa" class="icohab">
    <h4 class="seccion-titulo" id="habd">Habilidades Duras</h4>
    <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="70" aria-valuemin="0"
      aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-danger" style="width: 80%"></div>
    </div>
    <p>HTML</p>

    <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="60" aria-valuemin="0"
      aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-danger" style="width: 80%"></div>
    </div>
    <p>CSS</p>

    <div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="50" aria-valuemin="0"
      aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-danger" style="width: 50%"></div>
    </div>
    <p>JS</p>

    <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75" aria-valuemin="0"
      aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-danger" style="width: 50%"></div>
    </div>
    <p>Ruby</p>

    <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-danger" style="width: 85%"></div>
    </div>
    <p>Inglés</p>
    <a href="#volver"><button class="btn btn-outline-danger" type="button">Volver arriba</button></a>
  </div>
</section>