<!-- Seccion Marco Antonio Casanova con Foto -->
<section id="MACG" class="sobre-mi seccion-clara">
  <div *ngIf="displayElement; else showThis">
    <div class="contenedor">
      <img src="assets/images/Foto MAC.jpeg" class="foto" alt="Mi foto">
      <h4 class="seccion-titulo">{{titulo}}</h4>
      <p class="seccion-texto">{{texto}}</p>
      <a href="#volver"><button class="btn btn-outline-primary" type="button">Volver arriba</button></a>
    </div>
    <a href="#volver"><button class="btn btn-outline-primary" type="button">Volver arriba</button></a>
  </div>
<ng-template #showThis>
  <form #myForm="ngForm">
    <fieldset  ngModelGroup="inputs" #inputs="ngModelGroup">
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <input type="text" (change)="updateAcercademiTitle($event)" name="{{'title}}">
        <input type="text" (change)="updateAcercademiTexto($event)" name="{{'text'}}">
      </div>
    </fieldset>
  </form>
</ng-template>
</section>






