<!-- Seccion Sobre Mi -->
<section class="sobre-mi seccion-oscura">
  <div class="contenedor" *ngIf="displayElement; else showThis">
    <h4 class="seccion-titulo" id="acercademi">Acerca de mí</h4>
    <h5 class="seccion-titulo">{{titulo}}</h5>
    <p class="seccion-texto">{{texto}}
    </p>
    <a href="assets/images/collage redactor programador.jpg" target="_blank" rel="noopener noreferrer"
      class="btn btn-primary">¿Un redactor que programa?</a>
    <a href="#volver"><button class="btn btn-outline-primary" type="button">Volver arriba</button></a>
  </div>
  <ng-template #showThis>
    <form #myForm="ngForm">
      <fieldset ngModelGroup="inputs" #inputs="ngModelGroup">
        <div class=" bd-highlight mb-3">
          <p>Seccion Titulo:</p>
          <input type="text" (change)="updateAcercademiTitle($event)" name="title" value={{this.titulo}}>
          <p>Seccion Texto:</p>
          <textarea (change)="updateAcercademiTexto($event)" id="text" name="text" rows="4" cols="50">
            {{ this.texto }}
            </textarea>
        </div>
      </fieldset>
    </form>
  </ng-template>
  <button *ngIf="showEditButton" class="btn btn-primary pt-3" (click)="updateEditMode()">
    {{displayElement ? "Editar" : "Mostar"}}
  </button>
</section>