<router-outlet></router-outlet>
<!-- pegar aqui el htrml que esta dentro de l body-->
<!-- Barra de Navegacion -->
<navbar-component></navbar-component>
<carousel-component></carousel-component>
<holafoto-component></holafoto-component>
<acercademi-component></acercademi-component>
<experiencia-component></experiencia-component>
<educacion-componente></educacion-componente>
<habduras-component></habduras-component>
<habblandas-component></habblandas-component>
<proyectos-component></proyectos-component>
<footer-component></footer-component>
