<router-outlet></router-outlet>
<!-- pegar aqui el htrml que esta dentro de l body-->
<!-- Barra de Navegacion -->
<header id="volver">
  <nav id="volver" class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid" role="navigation">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          <ul class="navbar-nav d-flex justify-content-center align-content-center me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="px-2" target="_blank" rel="noopener noreferrer">
                  <img src="images/argentina_programa.png" alt="Logo de Argentina Programa" width="130" height="40">
                </a>
              </li>
              <li class="navbar-item">
                <a href="https://yoprogramo.org.ar" class="px-2" target="_blank" rel="noopener noreferrer">
                  <img src="images/YoProgramo.png" alt="Logo de Yo Programo" width="130" height="40">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#MACG">¡Hola!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#acercademi">Acerca de mí</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#exper">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#educ">Educación</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Habilidades Duras y Blandas
                </a>
              <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#habd">Habilidades Duras</a></li>
              <li><a class="dropdown-item" href="#habb">Habilidades Blandas</a></li>
              </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#proy">Proyectos</a>
              </li>
          </ul>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          <ul class="navbar-nav d-flex me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="https:/wa.me/584241719860" target="_blank" rel="noopener noreferrer">
                <i class="icon-whatsapp bi px-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.facebook.com/MarcoAntonioCasanovaG" target="_blank" rel="noopener noreferrer">
                <i class="icon-facebook bi px-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://linkedin.com/in/marco-antonio-casanova-67b39934" target="_blank" rel="noopener noreferrer">
                <i class="icon-linkedin bi px-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com/marcoantoniocasanovamac/" target="_blank" rel="noopener noreferrer">
                <i class="icon-instagram bi px-2"></i>
              </a>
            </li>
          <button class="btn btn-outline-primary" type="submit">Login</button>
          </ul>
        </div>
      </div>
     </div>
   </nav>
  </header>
  <!-- carousel que contiene imagenes para mostar -->
  <section class="sobre-mi seccion-oscura">
   <div class="contenedor">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="images/bg_biblioteca_1.jpg" class="d-block tam w-100" alt="imagen biblioteca">
        <h1 class="tit d-block">MARCO ANTONIO CASANOVA</h1>
      </div>
      <div class="carousel-item">
        <img src="images/bg_conexion.jpg" class="d-block tam w-100" alt="imagen mundo conectado">
        <h2 class="tit d-block">Comunicador Social <br><hr> Estudiante para <br><b>Desarrollador Full Stack Jr</b></h2>
      </div>
   </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>
   </div>
  </section>
  <!-- Seccion Marco Antonio Casanova con Foto -->
  <section id="MACG" class="sobre-mi seccion-clara">
    <div class="contenedor">
      <img src="images/Foto MAC.jpeg" class="foto" alt="Mi foto">
        <h4 class="seccion-titulo">¡Hola!</h4>
          <p class="seccion-texto">¡Es un gusto tenerte por aquí! Mi nombre es Marco Antonio Casanova. Desde pequeño me encantan los videojuegos. Por esta razón, siempre me ha interesado saber
                                     lo que pasa tras los bastidores del mundo de la programación.</p>
      <a href="#volver"><button class="btn btn-outline-primary"  type="button">Volver arriba</button></a>
    </div>
    </section>
  <!-- Seccion Sobre Mi -->
  <section class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h4 class="seccion-titulo" id="acercademi">Acerca de mí</h4>
          <h5 class="seccion-titulo"> Primero la redacción, luego la programación y... ¡después existo!</h5>
          <p class="seccion-texto">Soy Licenciado en Comunicación Social y he trabajado como redactor de contenidos para varias empresas.
            También tengo varios años de experiencia docente. En los últimos tiempos, el mundo de la programación ha captado mi interés.
            Encontré la forma de satisfacer mis necesidades de adquirir destrezas informáticas a través de los cursos de Argentina Programa.
            Gracias a esta plataforma, encontré una valiosa oportunidad para desarrollar conocimientos y habilidades que me permitirán seguir
            adquiriendo y desarrollando lo que necesito para lograr desempeñarme exitosamente como Programador Full Stack Jr.</p>
          <a href="images/collage redactor programador.jpg" target="_blank" rel="noopener noreferrer" class="btn btn-primary">¿Un redactor que programa?</a>
          <a href="#volver"><button class="btn btn-outline-primary"  type="button">Volver arriba</button></a>
    </div>
  </section>
  <!-- Seccion Experiencia -->
  <section class="seccion-contenido seccion-clara">
    <div class="contenedor">
      <img src="images/Experiencia.png" alt="portafolio" width="140">
      <h4 class="seccion-titulo" id="exper">Experiencia</h4>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2010-2022</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.ujmv.edu/" target="_blank" rel="noopener noreferrer"><img src="images/UJMV.png" alt="logo UJMV" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Profesor de aula virtual en la Universidad José María Vargas.</a></p></div>
      </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2020-2022</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.youtube.com/@UniVistaTV/about/" target="_blank" rel="noopener noreferrer"><img src="images/Logo UniVista.jpeg" alt="logo UniVistaTV" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Redactor  y curador en  Univista TV.</a></p></div>
      </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2013-2016</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.isum.com.ve/" target="_blank" rel="noopener noreferrer"><img src="images/ISUM.png" alt="logo ISUM" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Profesor de Redacción en el Instituto de Mercadotecnia.</a></p></div>
      </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2009-2016</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.instagram.com/unihumboldt/?hl=en" target="_blank" rel="noopener noreferrer"><img src="images/UAH.png" alt="logo UAH" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Profesor de Redacción en la Universidad Alejandro de Humboldt.</a></p></div>
       </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2006-2016</h5></div>
          <div class="p-2 bd-highlight"><a href="https://usm.edu.ve/" target="_blank" rel="noopener noreferrer"><img src="images/USM.png" alt="logo USM" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Profesor de redacción en la Universidad Santa María.</a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2003-2006</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.instagram.com/una.edu.ve/" target="_blank" rel="noopener noreferrer"><img src="images/UNA.jpeg" alt="logo UNA" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Redactor de contenidos en la Universidad Nacional Abierta.</a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2000-2002</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.cavecol.org/" target="_blank" rel="noopener noreferrer"><img src="images/logo_cavecol.png" alt="logo CAVECOL" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Redactor de contenidos en CAVECOL.</a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>1995-1999</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.calientefm.com.ve/" target="_blank" rel="noopener noreferrer"><img src="images/Caliente Stereo 105.9 FM.png" alt="logo Caliente Estéreo" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)"> Redactor de noticias en la emisora de radio Caliente Estéreo FM 105.9.</a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>1989-2000</h5></div>
          <div class="p-2 bd-highlight"><a href="https://salesianosvenezuela.com/" target="_blank" rel="noopener noreferrer"><img src="images/CAS.png" alt="logo CAS" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Redactor de contenidos en el Centro Audivisual Salesiano.</a></p></div>
        </div>
        <a href="#volver"><button class="btn btn-outline-primary"  type="button">Volver arriba</button></a>
    </div>
  </section>
  <!-- Seccion Educación -->
  <section class="seccion-contenido seccion-oscura">
    <div class="contenedor">
      <img src="images/Estudios.png" alt="Birrete y libros" width="140">
      <h4 class="seccion-titulo" id="educ">Educación</h4>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>1988</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.ucab.edu.ve/" target="_blank" rel="noopener noreferrer"><img src="/images/UCAB.png" alt="logo UCAB" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Licenciatura en Comunicación Social // Universidad Católica Andrés Bello.</a></p></div>
      </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2005</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.instagram.com/upel_caracas/?hl=es" target="_blank" rel="noopener noreferrer"><img src="images/UPEL.png" alt="logo UPEL" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Componente Docente // Universidad Pedagógica Experimental Libertador.</a></p></div>
      </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2010</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.ujmv.edu/" target="_blank" rel="noopener noreferrer"><img src="/images/UJMV.png" alt="logo UJMV" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Programa de Formación de Educadores a Distancia // Universidad José María Vargas.</a></p></div>
      </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h5>2011</h5></div>
        <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" rel="noopener noreferrer"><img src="/images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
        <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Programación con HTML y Javascript // Servicio Nacional de Aprendizaje (SENA). </a></p></div>
       </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2011</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Planeación Estratégica de Proyectos // Servicio Nacional de Aprendizaje (SENA).</a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2011</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Diseño de Instrumentos de Evaluación // Servicio Nacional de Aprendizaje (SENA). </a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2012-2013</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank" rel="noopener noreferrer"><img src="images/SENA.jpeg" alt="logo SENA" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Inglés (Curso completo) Niveles I al V // Servicio Nacional de Aprendizaje (SENA). </a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2015</h5></div>
          <div class="p-2 bd-highlight"><a href="https://learndigital.withgoogle.com/activate/courses" target="_blank" rel="noopener noreferrer"><img src="images/GOOGLE-ACT.png" alt="logo Google Activate" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Introducción al Desarrollo Web // Google Activate.</a></p></div>
        </div>
      <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2015</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.msjc.edu/" target="_blank" rel="noopener noreferrer"><img src="images/MSJC.png" alt="logo MSJC" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Fundamental English Writing // Mt. San Jacinto College.</a></p></div>
        </div>
        <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2017</h5></div>
          <div class="p-2 bd-highlight"><a href="https://iei.ua.es/" target="_blank" rel="noopener noreferrer"><img src="images/IEI-ALICANTE.jpg" alt="logo IEI-ALICANTE" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">Curso de Desarrollo Web // Instituto de Economía Internacional de la Universidad de Alicante.</a></p></div>
        </div>
        <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2022</h5></div>
          <div class="p-2 bd-highlight"><a href="https://yoprogramo.org.ar/modulos-fase-1/" target="_blank" rel="noopener noreferrer"><img src="images/SeProg.png" alt="logo SéProgramar" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">#SéProgramar // Argentina Programa , INTI.</a></p></div>
        </div>
        <div class="d-flex flex-row abs-center bd-highlight mb-3">
          <div class="p-2 bd-highlight"><h5>2022-Cursando</h5></div>
          <div class="p-2 bd-highlight"><a href="https://www.yoprogramo.org.ar/" target="_blank" rel="noopener noreferrer"><img src="images/YoProg.png" alt="logo YoProgramo" class="loginst"></a></div>
          <div class="p-2 bd-highlight"><p><a href="javascript:void(0)">#YoProgramo // Argentina Programa , INTI.</a></p></div>
        </div>
        <a href="#volver"><button class="btn btn-outline-primary"  type="button">Volver arriba</button></a>
    </div>
  </section>
  <!-- Seccion Habilidades Duras-->
  <section class="seccion-contenido seccion-clara">
    <div class="contenedor">
      <img src="images/habduras.png" alt="llave inglesa" class="icohab">
       <h4 class="seccion-titulo" id="habd">Habilidades Duras</h4>
            <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-danger" style="width: 80%"></div>
            </div>
            <p>HTML</p>

            <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-danger" style="width: 80%"></div>
            </div>
            <p>CSS</p>

            <div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-danger" style="width: 50%"></div>
            </div>
            <p>JS</p>

            <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-danger" style="width: 50%"></div>
            </div>
            <p>Ruby</p>

            <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-danger" style="width: 85%"></div>
            </div>
            <p>Inglés</p>
            <a href="#volver"><button class="btn btn-outline-danger"  type="button">Volver arriba</button></a>
        </div>
      </section>
  <!-- Seccion Habilidades Blandas-->
  <section class="seccion-contenido seccion-oscura">
    <div class="contenedor">
      <img src="images/icono hab blandas.png" alt="conexiones" class="icohab">
       <h4 class="seccion-titulo" id="habb">Habilidades Blandas</h4>
        <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-warning" style="width: 100%"></div>
        </div>
        <p>Trabajo en equipo</p>

        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-warning" style="width: 95%"></div>
        </div>
        <p>Comunicación asertiva</p>

        <div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-warning" style="width: 90%"></div>
        </div>
        <p>Resolución de conflictos</p>

        <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100">
       <div class="progress-bar progress-bar-striped bg-warning" style="width: 95%"></div>
       </div>
       <p>Adaptación al cambio</p>

       <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="100"
       aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-warning" style="width: 100%"></div>
      </div>
      <p>Creatividad</p>
      <a href="#volver"><button class="btn btn-outline-warning"  type="button">Volver arriba</button></a>
    </div>
  </section>
<!-- Seccion Proyectos-->
<section class="seccion-contenido seccion-clara">
  <div class="contenedor display-3 ms-auto">
    <h4 class="seccion-titulo" id="proy">Proyectos</h4>
    <div class="justify-content-center align-content-center ms-auto me-auto">
    <img src="images/proy-carr-1.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
    <img src="images/proy-carr-2.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
    <img src="images/proy-carr-3.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
    <img src="images/proy-carr-4.jpeg" alt="Primera sección Hero de mi proyecto" width="310px">
  </div>
    <p class="seccion-texto">Estoy recién comenzando en este mundo de la programación. Por lo tanto, sólo tengo
      para mostrar el trabajo que hice para este curso. Sin embargo, estoy seguro que pronto tendré muchos más
      proyectos que desarrollar y exhibir.
    </p>
    <a href="#"><p class="seccion-texto">Mi Proyecto en Github</p></a>
    <a href="#volver"><button class="btn btn-outline-primary m-2"  type="button">Volver arriba</button></a>
  </div>
</section>
<!-- Seccion Footer  -->
<footer class="seccion-contenido seccion-oscura">
  <div class="contenedor">
    <img src="images/pexels-alexander-grey-1428148.jpg" alt="rayas de colores" width="100%" height="80px">
    <h4 class="seccion-titulo">Aprender y crear es mi vocación<br>¡Es tiempo para un nuevo proyecto!</h4>
    <p class="seccion-texto">marcoantoniocasanova47@gmail.com<p>
      <br>
    <a href="#volver"><button class="btn btn-outline-primary m-2"  type="button">Volver arriba</button></a>
  </div>
</footer>

